services:
  backend:
    container_name: backend
    build:
      context: ./apps/backend
      dockerfile: dockerfile
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app
    networks:
      - youtube-notes-network

  frontend:
    container_name: frontend
    build:
      context: ./apps/frontend
      dockerfile: dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./apps/frontend:/app
      - /app/node_modules
    environment:
      - VITE_PUBLIC_BACKEND_URL=http://backend:8000
      - VITE_PUBLIC_TANSTACK_STALE_TIME=300000
      - VITE_PUBLIC_TANSTACK_GARBAGE_COLLECTION_TIME=300000
      - VITE_PUBLIC_API_TIMEOUT=10000
    depends_on:
      - backend
    networks:
      - youtube-notes-network

networks:
  youtube-notes-network:
